$primary: rgb(216, 66, 66);
$navbar-padding-y:  4px;
$navbar-padding-x:  3px;

@import "D:/workspace/web/Projects/portfolio/node_modules/bootstrap/scss/_functions";
@import "D:/workspace/web/Projects/portfolio/node_modules/bootstrap/scss/_variables";

$custom-theme-colors:(
  "altlight":#ffffff,
  "altdark":#ea939b,
  "altdeep": #2411c7,
);

$theme-colors: map-merge($custom-theme-colors,$theme-colors);

@import "D:/workspace/web/Projects/portfolio/node_modules/bootstrap/scss/bootstrap.scss";