* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #540026;
}

/* Navbar section */
.navbar {

    --bs-navbar-brand-color: rgba(255, 255, 255, 0.2);
    --bs-navbar-hover-color: none;
    font-weight: bolder;
    padding: 0px;
}

.navbar.active{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);

}

.navbar ul{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome-text{
    color: white;
    text-shadow: 0 0 15px #940043, 0 0 25px #540026 ;
}

/* 
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
        
    }
    100%{
        
        filter: hue-rotate(360deg);
    }
} */
.navbar-brand img{
    filter: invert();
}
.navbar-brand img:hover{
    filter: none;
}
.nav-link {
    color: white;
    font-weight: 400;
}

.nacbar-toggler-icon {
    color: white;
}

.nav-link:hover {
    color: var(--primary-color);
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

/* content section  */

#head {
    flex-direction: row;
    color: white;
    z-index: 1;
}

.text-altdeep{
    color: #540026;
}

#main {
    background-size: cover;
    /* background-color: #b6187e; */
    background-color: #D4005F;
    /* background-color: #ad23b6; */
    ;
    background-attachment: fixed;
}

#main::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

#introtext {
    font-size: small;
}

.mytext {
    font-size: 22px;
    margin-top: 2rem;
}

#contact{
    padding: 0px;
}

#profile-pic{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#desk-img{
    width: 50%;
}
#mydetails {
    list-style: none;
    /* Remove default bullets */
}

#mydetails li {
    padding-bottom: 1rem;
}

#mydetails li::before {
    content: "\2022";
    color: whitesmoke;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding: 4px;
}

.heading-text{
    margin-bottom: 2rem;
}

#details {
    margin-right: 12px;
}



.profile-pic {
    will-change: transform;
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

.color-date{
    color: white;
    opacity: 1;
}

.typing-text {
    font-size: 1.50rem;
    margin-left: 2px;
}

.row {
    display: flex;
    justify-content: center;
}

.row img {
    width: 5rem;
}

.icons {
    border: 1.7px solid white;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, .137);
    font-size: 4.5em;
    margin: 15px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.icons:hover{
    border: 1.7px solid black;
    filter: invert();
    background-color: rgb(0, 0, 0);
    transition: 200ms;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    line-height: 25px;
    text-align: center;
    margin: 20px 0;
    width: 80%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.carousel .card img {
    width: 107%;
    margin: 12px;
    border-radius: 6px;
}

.carousel a{
    color: var(--primary-color);
}

#text{
    font-size: 1rem;
}

.rec.rec-arrow {
    border: none;
    color: white;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

.social{
    display: flex;
    justify-content: center;
    z-index: 1;
}
.social ul{
    display: flex;
    list-style: none;
}
.social li {
    padding: 3rem;
    padding-top: 0px;
}

.social #fb,
#ig {
    height: 1.9rem;
    margin-top: 3px;
}

.social #lnkd {
    height: 2.3rem;
    margin-top: 3px;
}

.social #git {
    height: 3.2rem;
    padding-bottom: 5px;
}

a img:hover {
    cursor: pointer;
    filter: invert();
    transition: 200ms;
}

footer{
    display: flex;
    background-color: rgb(214, 90, 119);
    color: white;
    font-weight: 600;
    padding: .7rem;
    z-index: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
}

.social ul{
    padding-left: 0px;
}
